/* .Applay{
   display: flex;
   justify-content: flex-start;
}
.sun{
   margin-top: 5px;
   margin-right: 5px;
}
.cancel{
   cursor: pointer;
}
.colorBlue{
   background-color: rgb(1,159,220);
}
.colorRed{
   background-color: rgb(229,83,83);
} */